<div class="container-custom">
    <div class="l-side">
        <img src="https://cdn.discordapp.com/attachments/976668675090313246/982307021246304266/1dc085cdb87d.png" alt="">
    </div>
    <div class="r-side">
        <div class="forms mt-5">
            <div class="d-flex align-items-center justify-content-center pt-5">
                <img style="width: 20%;" src="https://cdn.discordapp.com/attachments/976668675090313246/982326648512856065/s_copiar.png" alt="">
            </div>
                  <input class="mb-4" type="text">
                <input class="mb-4" type="text">          
            <button>continuar</button>
        </div>
    </div>
</div>