<div class="container-custom">
    <div class="l-side">
        <img style="height: 80%;" src="https://cdn.discordapp.com/attachments/976668675090313246/982307021246304266/1dc085cdb87d.png" alt="">
    </div>
    <div class="r-side">
        <div class="forms">
            <div class="d-flex align-items-center justify-content-center mt-1 m-5">
                <img class="logo"
                    src="https://cdn.discordapp.com/attachments/976668675090313246/982326648512856065/s_copiar.png">
            </div>
            <input placeholder="Email" class="mb-2" type="text">
            <input placeholder="Senha" class="mb-4" type="password">
            <button routerLink="/home" >Entrar</button>
        </div>
    </div>
</div>